# Dependencies
node_modules/
.pnpm-store/

# Builds
.next/
out/
dist/
build/
.expo/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Turbo
.turbo/

# Expo / native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/
